[Desktop Entry]
Type=Action
Name[en_US]=Delete trash folder
Name[en]=Delete trash folder
Name[C]=Delete trash folder
TargetContext=false
TargetLocation=true
ToolbarLabel[en_US]=Delete trash folder
ToolbarLabel[en]=Delete trash folder
ToolbarLabel[C]=Delete trash folder
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Exec=/home/bored/Documents/Github/AutoWallpaper/tasks/AW-Trash.sh 1
