[Desktop Entry]
Type=Action
Name[en_US]=Open log
Name[en]=Open log
Name[C]=Open log
TargetContext=false
TargetLocation=true
ToolbarLabel[en_US]=Open log
ToolbarLabel[en]=Open log
ToolbarLabel[C]=Open log
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
Exec=gedit /home/bored/Documents/Github/AutoWallpaper/log/full-log.log
